@model Blogs.UI.Manage.Models.Tag

@{
    ViewBag.Title = "修改";
    Layout = "~/Views/V1/Shared/_Index_LayoutEdit.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {
            if ($("#EditForm").valid()) {
                $.ajax({
                    url: "/Tag/Edit/" + $("#tagID").val(),
                    type: "Post",
                    data: $("#EditForm").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 1) {
                            window.parent.frameReturnByMes(data.message);
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose();
                        }
                        else {
                            window.parent.frameReturnByMes(data.message);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        //hideOverlay();
                        alert("错误");
                        document.write(XMLHttpRequest.responseText);
                    }
                });
            }
        });
    })
</script>

<div class="mvctool bgb">
    <a id="btnSave" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-save" style="padding-left: 20px;">保存</span></span></a>
</div>

@using (Html.BeginForm("Edit", "Tag", null, FormMethod.Post, new { Id = "EditForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr style="display:none">
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.tagID)：
                </td>
                <td>
                    @Html.EditorFor(model => model.tagID)
                </td>
                <td>@Html.ValidationMessageFor(model => model.tagID)</td>
            </tr>

            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.categoryID)：
                </td>
                <td>
                   @Html.DropDownListFor(model => model.categoryID, ViewData["Category"] as SelectList)
                </td>
                <td>@Html.ValidationMessageFor(model => model.categoryID)</td>
            </tr>

            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.tagDisplay)：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.tagDisplay)
                </td>
                <td>@Html.ValidationMessageFor(model => model.tagDisplay)</td>
            </tr>

            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.ADD_DATE)：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ADD_DATE, new { @readonly = "readonly" })
                </td>
                <td>@Html.ValidationMessageFor(model => model.ADD_DATE)</td>
            </tr>

            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.UPDATE_DATE)：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.UPDATE_DATE, new { @readonly = "readonly" })
                </td>
                <td>@Html.ValidationMessageFor(model => model.UPDATE_DATE)</td>
            </tr>
        </tbody>
    </table>

}

